
#header{
    background-color:#f6f6f6;

}
#imagebox{
    position: relative;
    z-index: 1000;
}
#imagebox a{
   z-index: 1;
    position: absolute;

}
#image{
    position: absolute;
    top: -20px;
    right: 0px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top center;
    opacity: 0.7;
    border: none;
    outline: none;
    z-index: -1;

}